.navigation {
  color: var(--navigation-text-color);

  .logo {
    font-family: var(--main-logo-font);
    font-weight: 800;
    font-size: 24px;
    line-height: 1.66;
    letter-spacing: var(--letter-spacing-main);

    &-main {
      color: var(--accent-color);
    }
  }

  .contact {
    &-icon {
      margin-right: 10px;
      fill: currentColor;
    }

    &-link {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-family: var(--main-font-family);
      font-weight: 500;
      font-size: 18px;
      line-height: 1.17;
      letter-spacing: var(--letter-spacing-midle);
      color: var(--secondary-text-color);
    }
  }

  @media screen and (max-width: 767px) {
    &-data {
      display: none;
    }

    &-data.is-open {
      display: block;
    }

    .logo {
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &-menu {
      position: relative;
      display: flex;
      margin-left: auto;
      margin-right: auto;
      justify-content: space-between;
      max-width: 480px;
      padding: 16px 15px;
    }

    .menu-button {
      display: inline-flex;
      width: 40px;
      height: 40px;
      color: var(--navigation-text-color);
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border: none;
      outline: none;

      &:hover .menu-icon,
      &:focus .menu-icon {
        fill: var(--accent-color);
      }
    }

    .icon-close {
      display: none;
    }

    .menu-button.is-open .icon-close {
      display: block;
    }

    .menu-button.is-open .icon-burger {
      display: none;
    }

    &-data {
      position: absolute;
      background-color: var(--accent-color-text);
      width: 100%;
      border-top: 1px solid #ececec;
      text-align: center;
    }

    .links {
      padding: 60px 0;

      &-link {
        font-family: var(--main-font-family);
        font-weight: 500;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: var(--letter-spacing-midle);
        color: var(--navigation-text-color);
      }
      &-item:not(:last-child) {
        margin-bottom: 40px;
      }
    }

    .contact {
      padding-bottom: 60px;

      &-link {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-family: var(--main-font-family);
        font-weight: 500;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: var(--letter-spacing-midle);
        color: var(--secondary-text-color);
      }
      &-item:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }
  @media screen and (min-width: 768px) {
    .menu-button {
      display: none;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: space-between;

    &-menu {
      height: 100%;
      display: flex;
      align-items: center;
    }

    &-data {
      height: 100%;
      display: flex;
    }

    .links {
      height: 100%;
      display: flex;
      align-items: center;
      margin-right: 84px;

      &-link {
        font-family: var(--main-font-family);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: var(--letter-spacing-midle);
        color: var(--navigation-text-color);
      }

      &-item:not(:last-child) {
        margin-right: 50px;
      }
    }

    .contact {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &-item:not(:last-child) {
        margin-bottom: 10px;
      }
      &-link {
        font-family: var(--main-font-family);
        font-weight: 500;
        font-size: 12px;
        line-height: 1.17;

        letter-spacing: var(--letter-spacing-midle);

        color: var(--secondary-text-color);
      }
    }
  }

  @media screen and (min-width: 1200px) {
  }
}
