.social {
  display: flex;
  align-items: center;
  justify-content: center;

  &-item {
    display: flex;
    align-items: center;
    justify-content: center;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
  }

  &-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    color: var(--svg-color);
    border-radius: 50%;

    transition: color var(--animation-timing),
      background-color var(--animation-timing);
  }
}

// style for team section
.team .social-link {
  &:hover,
  &:focus {
    color: var(--accent-color-text);
    background-color: var(--accent-color);
  }
}

// style for address section
.address .social-link {
  color: var(--accent-color-text);
  background-color: rgba(255, 255, 255, 0.1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
