.filter {
  list-style: none;
  margin-top: 0;
  margin-bottom: 34px;
  padding: 0;

  display: flex;
  justify-content: center;

  .radio-btn {
    font-family: var(--main-font-family);
    background-color: var(--section-bg-color);
    color: var(--navigation-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    margin: 0;
    border: none;
    padding: 6px 22px;
    border-radius: 4px;
    cursor: pointer;

    transition: color var(--animation-timing),
      background-color var(--animation-timing),
      box-shadow var(--animation-timing);

    &:hover,
    &:focus {
      outline: none;

      color: var(--accent-color-text);
      background-color: var(--accent-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
  .item {
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}
