*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: 1px solid rgba(0, 0, 0, 0.2);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
  font-style: normal;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
}

img {
  display: block;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: var(--main-font-family);
}

address {
  font-style: normal;
}
