@mixin block {
  content: "";
  display: block;
}
@mixin hover-border {
  outline: none;
  border-color: var(--accent-color);
}

@mixin button($fw) {
  background-color: var(--accent-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  color: var(--accent-color-text);
  font-weight: $fw;
  font-size: 16px;
  letter-spacing: var(--letter-spacing-secondary);
  line-height: 1.9;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
}
