.skills {
  padding: 0px;
  list-style: none;
  margin-top: 0px;
  margin-bottom: 94px;
  display: flex;
  justify-content: space-between;

  .skills-item {
    max-width: 270px;
  }
  .skill-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background-color: var(--buttons-bg);
    border-radius: 4px;
    margin-bottom: 30px;
  }
  .section-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;

    margin-top: 0;
    margin-bottom: 10px;
  }
  .text {
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;

    margin: 0;
  }
}
